.idea/
build
.DS_Store
*.tgz
my-app*
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
*.vscode
*.log
*.sublime-*
.DS_Store
.vscode
node_modules
bower_components
client/uploads/*

db.*.sqlite